In [1]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [16]:
def create_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name,
            auth_plugin='mysql_native_password'
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [17]:
conn = create_connection("localhost", "root", "...", "thelook_ecommerce")

MySQL Database connection successful

In [18]:
mycursor = conn.cursor()

mycursor.execute("SELECT * FROM thelook_ecommerce.distribution_centers")

for x in mycursor:
  print(x)

(1, 'Memphis TN', '35,1174', '-89,9711')
(2, 'Chicago IL', '41,8369', '-87,6847')
(3, 'Houston TX', '29,7604', '-95,3698')
(4, 'Los Angeles CA', '34,05', '-118,25')
(5, 'New Orleans LA', '29,95', '-90,0667')
(6, 'Port Authority of New York/New Jersey NY/NJ', '40,634', '-73,7834')
(7, 'Philadelphia PA', '39,95', '-75,1667')
(8, 'Mobile AL', '30,6944', '-88,0431')
(9, 'Charleston SC', '32,7833', '-79,9333')
(10, 'Savannah GA', '32,0167', '-81,1167')

In [19]:
def insert_query(conn, data, table):
    cursor = conn.cursor()
    placeholders = ', '.join(['%s'] * len(data))
    columns = ', '.join(data.keys())
    sql = "INSERT INTO %s ( %s ) VALUES ( %s )" % (table, columns, placeholders)
    cursor.execute(sql, list(data.values()))
    conn.commit()
    cursor.close()

In [20]:
data = {
    'id': 1,
    'name': 'test',
    'latitude': '1',
    'longitude': '1',
}
insert_query(conn, data, 'distribution_centers')

In [25]:
mycursor = conn.cursor()

mycursor.execute("show columns FROM thelook_ecommerce.events")

for x in mycursor:
  print(x)

('id', b'int', 'YES', bytearray(b''), None, '')
('user_id', b'text', 'YES', bytearray(b''), None, '')
('sequence_number', b'int', 'YES', bytearray(b''), None, '')
('session_id', b'text', 'YES', bytearray(b''), None, '')
('created_at', b'text', 'YES', bytearray(b''), None, '')
('ip_address', b'text', 'YES', bytearray(b''), None, '')
('city', b'text', 'YES', bytearray(b''), None, '')
('state', b'text', 'YES', bytearray(b''), None, '')
('postal_code', b'int', 'YES', bytearray(b''), None, '')
('browser', b'text', 'YES', bytearray(b''), None, '')
('traffic_source', b'text', 'YES', bytearray(b''), None, '')
('uri', b'text', 'YES', bytearray(b''), None, '')
('event_type', b'text', 'YES', bytearray(b''), None, '')